.welcome-label {
    -fx-font: 30pt "Arial";
    -fx-alignment: center;
    -fx-graphic: url("book.jpg");
}

.my-button {
    -fx-min-height: 40px;
    -fx-min-width: 75px;
    -fx-font: 17pt "Arial";
    -fx-effect: dropshadow(gaussian, gray, 1, 1.0, 1, 1);
}